dist/
node_modules/
.github/

docs/code/language/js/es6/array.md
docs/code/language/js/es6/style.md
docs/code/language/js/function/method.md
docs/code/language/js/guide/condition.md
docs/code/language/js/guide/exercise.md
docs/code/language/js/guide/grammar.md
docs/code/language/js/guide/loop.md
docs/code/language/js/operators/priority.md
docs/code/language/js/types/string.md
docs/code/language/markdown/block.md
docs/code/language/markdown/inline.md
docs/code/website/html/guide/README.md
